@model IEnumerable<BiblioCat.Models.Book.BookListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Book Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreOfBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsOfBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeriesNames)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreOfBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @foreach (var itemModel in item.AuthorsOfBook)
                {
                    <p>@Html.DisplayFor(modelItem => itemModel.LastName), @Html.DisplayFor(modelItem => itemModel.FirstName)</p>
                }
            </td>
            <td>
                @foreach (var itemModel in item.SeriesNames)
                {
                    @Html.DisplayFor(modelItem => itemModel.SeriesName)
                    <br />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookId }) <br />
                @Html.ActionLink("Add Authors", "AddAuthors", "AuthorBook", new { id = item.BookId }, null) |
                @Html.ActionLink("Remove Authors", "RemoveAuthors", "AuthorBook", new { id = item.BookId }, null) <br />
                @Html.ActionLink("Add Series", "AddSeries", "SeriesBook", new { id = item.BookId }, null) |
                @Html.ActionLink("Remove Series", "RemoveSeries", "SeriesBook", new { id = item.BookId }, null)
            </td>
        </tr>
    }

</table>
