@model BiblioCat.Models.TableJunctions.AuthorPublisher.AddPublishersCreate

@{
    ViewBag.Title = "Add Publishers to Author";
}

<h2>Add Publishers to Author</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AuthorId, ViewData["Authors"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AuthorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <table class="table">
            <tr>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.PublisherName)
                </th>
                <th>
                    Select
                </th>
            </tr>

            @foreach (var item in ViewBag.Publishers)
            {
                <tr>
                    <td>
                        @item.PublisherName
                    </td>
                    <td>
                        <input type="checkbox" name="Publishers" value="@item.PublisherId" />
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Add Publishers" class="btn btn-default" />
                @Html.ActionLink("Go to Author List", "Index", "Author", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
