@model BiblioCat.Models.Publisher.PublisherDetail

@{
    ViewBag.Title = "Details";
}

<h2>Publisher Details</h2>

<hr />
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PublisherId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherWebsite)
            </dt>

            <dd>
                <a href="@Html.DisplayFor(model => model.PublisherWebsite)" target="_blank">@Html.DisplayFor(model => model.PublisherWebsite)</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AuthorsWithPublisher)
            </dt>
            <dd>
                @foreach (var item in Model.AuthorsWithPublisher)
                {
                    <p>@Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)</p>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BookTitles)
            </dt>
            <dd>
                @foreach (var item in Model.BookTitles)
                {
                    @Html.DisplayFor(modelItem => item.Title) <br />
                }
            </dd>
        </dl>
    </div>
</div>

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="form-actions no-color">
            @Html.ActionLink("Edit Publisher", "Edit", "Publisher", new { id = Model.PublisherId }, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            @Html.ActionLink("Delete Publisher", "Delete", "Publisher", new { id = Model.PublisherId }, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            @Html.ActionLink("Back to Publisher List", "Index", "Publisher", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
        </div>
    </div>
    <br />
</div>
<br />
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @Html.ActionLink("Add Authors to Publisher", "AddAuthors", "AuthorPublisher", new { id = Model.PublisherId }, null) |
        @Html.ActionLink("Remove Authors from Publisher", "RemoveAuthors", "AuthorPublisher", new { id = Model.PublisherId }, null) <br />
        @Html.ActionLink("Add Books to Publisher", "AddBooks", "BookPublisher", new { id = Model.PublisherId }, null) |
        @Html.ActionLink("Remove Books from Publisher", "RemoveBooks", "BookPublisher", new { id = Model.PublisherId }, null)
    </div>
</div>