@model BiblioCat.Models.TableJunctions.SeriesAuthor.AddAuthorsCreate

@{
    ViewBag.Title = "Add Authors to Series";
}

<h2>Add Authors to Series</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SeriesId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SeriesId, ViewData["Series"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SeriesId, "", new { @class = "text-danger" })
            </div>
        </div>

        <table class="table">
            <tr>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    Select
                </th>
            </tr>

            @foreach (var item in ViewBag.Authors)
            {
                <tr>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        <input type="checkbox" name="Authors" value="@item.AuthorId" />
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Authors" class="btn btn-default" />
                @Html.ActionLink("Back to Series List", "Index", "Series", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
