@model IEnumerable<BiblioCat.Models.Convention.ConventionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConventionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.AuthorsAttending)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConventionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>            
            <td>
                @foreach (var itemModel in item.AuthorsAttending)
                {
                    <p>@Html.DisplayFor(modelItem => itemModel.LastName), @Html.DisplayFor(modelItem => itemModel.FirstName)</p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ConventionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ConventionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ConventionId }) <br />
                @Html.ActionLink("Add Authors", "AddAuthors", "AuthorConvention", new { id = item.ConventionId }, null) |
                @Html.ActionLink("Remove Authors", "RemoveAuthors", "AuthorConvention", new { id = item.ConventionId }, null)
            </td>
        </tr>
    }

</table>
