@model BiblioCat.Models.Author.AuthorDetail

@{
    ViewBag.Title = "Delete Author";
}

<h2>Delete Author</h2>

<h3>Are you sure you want to delete author @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)?</h3>
<hr />
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AuthorId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AuthorId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Patreon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patreon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OfficialWebsite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfficialWebsite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AmazonPage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AmazonPage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GoodreadsPage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoodreadsPage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TwitterHandle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TwitterHandle)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="col-md-1"></div>
                <input type="submit" value="Delete" class="btn btn-default" />
                @Html.ActionLink("Back to Author List", "Index", "Author", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            </div>
        }
    </div>
</div>