@model IEnumerable<BiblioCat.Models.Author.AuthorListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Author Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTitles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeriesNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConventionsAttending)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AuthorId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @foreach (var itemModel in item.BookTitles)
        {
            @Html.DisplayFor(modelItem => itemModel.Title)
            <br />
        }
    </td>
    <td>
        @foreach (var itemModel in item.SeriesNames)
        {
            @Html.DisplayFor(modelItem => itemModel.SeriesName)
            <br />
        }
    </td>
    <td>
        @foreach (var itemModel in item.ConventionsAttending)
        {
            @Html.DisplayFor(modelItem => itemModel.Name)
            <br />
        }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.AuthorId }) |
        @Html.ActionLink("Details", "Details", new { id = item.AuthorId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.AuthorId })
    </td>
</tr>
    }

</table>
