@model BiblioCat.Models.Series.SeriesDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Series</h2>

<h3>Are you sure you want to delete series @Html.DisplayFor(model => model.SeriesName) ?</h3>
<hr />
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SeriesId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SeriesId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SeriesName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SeriesName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SeriesDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SeriesDescription)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="col-md-1"></div>
                <input type="submit" value="Delete" class="btn btn-default" />
                @Html.ActionLink("Back to Series List", "Index", "Series", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            </div>
        }
    </div>
</div>