@model BiblioCat.Models.Series.SeriesDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SeriesDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeriesId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriesDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorsInSeries)
        </dt>
        @foreach (var item in Model.AuthorsInSeries)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.LastName),  @Html.DisplayFor(modelItem => item.FirstName)
            </dd>

        }
        <dt>
            @Html.DisplayNameFor(model => model.BooksInSeries)
        </dt>
        @foreach (var item in Model.BooksInSeries)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.Title)
            </dd>
        }

    </dl>
</div>
<br />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeriesId }) |
    @Html.ActionLink("Back to List", "Index") <br />
    @Html.ActionLink("Add Authors to Series", "AddAuthors", "SeriesAuthor", new { id = Model.SeriesId }, null) |
    @Html.ActionLink("Remove Authors from Series", "RemoveAuthors", "SeriesAuthor", new { id = Model.SeriesId }, null) <br />
    @Html.ActionLink("Add Books to Series", "AddBooks", "SeriesBook", new { id = Model.SeriesId }, null) |
    @Html.ActionLink("Remove Books from Series", "RemoveBooks", "SeriesBook", new { id = Model.SeriesId }, null)
</p>
