@model IEnumerable<BiblioCat.Models.Series.SeriesListItem>

@{
    ViewBag.Title = "Series List";
}

<h2>Series List</h2>

<p>
    @Html.ActionLink("Add Series", "Create", "Series", null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.SeriesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeriesDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsInSeries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BooksInSeries)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.SeriesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeriesDescription)
            </td>
            <td>
                @foreach (var itemModel in item.AuthorsInSeries)
                {
                    <p>@Html.DisplayFor(modelItem => itemModel.LastName), @Html.DisplayFor(modelItem => itemModel.FirstName)</p>
                }
            </td>
            <td>
                @foreach (var itemModel in item.BooksInSeries)
                {
                    @Html.DisplayFor(modelItem => itemModel.Title)
                    <br />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SeriesId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SeriesId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SeriesId }) <br />
                @Html.ActionLink("Add Authors", "AddAuthors", "SeriesAuthor", new { id = item.SeriesId }, null) |
                @Html.ActionLink("Remove Authors", "RemoveAuthors", "SeriesAuthor", new { id = item.SeriesId }, null) <br />
                @Html.ActionLink("Add Books", "AddBooks", "SeriesBook", new { id = item.SeriesId }, null) |
                @Html.ActionLink("Remove Books", "RemoveBooks", "SeriesBook", new { id = item.SeriesId }, null)
            </td>
        </tr>
    }

</table>
